{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],

  "plugins": [
    "styled-components","react-docgen",
    ["module-resolver", {
      "root": ["./src/**"],
      "alias": {
      }
    }]
  ]
}
