body {
    background-color: #fff;
    margin-top: 0;
    padding: 30px;
}

table {
    border-spacing: 0 !important;
    padding: 2rem 0;
    font-size: 14px;
    width: 100% !important;
    table-layout: fixed;
}

thead {
    background-color: #dcdcdc;
}

th {
    text-transform: capitalize !important;
}

th,
td {
    padding: 0.5rem !important;
    word-wrap:break-word;
    overflow: scroll;
}

td:nth-child(2) { 
    font-size: 12px; 
    /* white-space:nowrap; */
    /* word-wrap: break-word; */
    word-break:break-all;

}

table,
thead,
th,
td,
tr {
    border: none;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}